<div class="mun-box">
    <div class="mun-background">
        <div class="mun-logo"><span class='mun-name'>MARILYN MONROE</span><span class='mun-tm'>TM</span></div>
        <div class='mun-spa'>Spas & Saloons</div>
        <button type="button">EXPLORE</button>
        <span class='mun-down hvr-hang'></span>
    </div>
    <div class="mun-story">
        <div class="mun-s-head">The Marilyn Monroe Spas Story</div>
        <div class="mun-s-des"><span>Marilyn Monroe is the most glamorous woman of all time. From the girl-next-door to the red carpet, her allure shines through in photos and movies. She is a beauty icon and her image endures around the world. Her global brand awareness has inspired Marilyn Monroe™ Spas founder Niki Bryan, a well-known veteran of the spa industry, to design a new kind of spa experience that embodies the grace and beauty of this beauty icon.Niki’s career in the spa industry stretches back to 1981. Inspired by beauty industry icon Aida Grey, Niki brought Beverly Hills-style spa luxury to Orlando, Florida before setting her sights on the hotel and resort spa industry.</div>
        <div class="mun-s-des">With the image of Marilyn Monroe as their guide, Niki and her team set out to design a new kind of spa experience, one that brought resort spa experiences to vibrant lifestyle centers located in urban settings.Once the vision was established, Niki recognized the need for a strong business partner to help the nascent company achieve this vision. She approached Al Weiss, former President of Disney Parks and Resorts Operations Worldwide, a seasoned executive with a proven track record for driving growth and profitability in the hospitality industry.  Weiss had just retired from Disney but had already been named to several prestigious corporate boards and was serving as executive chairman for Great Wolf enterprises.  Intrigued by the vision Niki shared, Al ultimately agreed to become executive chairman of Marilyn Monroe Spas. </div>
    </div>
    <div class="mun-about">
        <div class="mun-s-head">What this is about ?</div>
        <div class="mun-s-des"><span>This Is A Unique Opportunity to Own a Marilyn Monroe Spas Franchise in India.</span> La Vida Holdings has been awarded the exclusive master franchise rights for the Republic of India and is now interviewing franchisees
            to own and operate one or more of the projected 250 Marilyn Monroe Spas to be opened across India. Built around the iconic Marilyn Monroe brand, our spas are revolutionizing the beauty and spa industry, offering customers a range of beauty,
            grooming, and body maintenance services including facials, hair care, massage, makeup service, manicures and pedicures.</div>
        <div class="mun-s-des">Today’s spa customers demand premium, all-natural products and an experience that leaves them feeling refreshed and glamorous, while spa franchisees look for scalable business models with solid brand backing. Marilyn Monroe Spas satisfies all
            these requirements and more, representing an outstanding business opportunity in one of the world’s largest and fastest growing spa markets. </div>
    </div>
    <div class="mun-special">
        <div class="mun-s-head">What makes us different ?</div>
        <div class="mum-s-container">
            <div class="left">
                <div class="lbox grey icon">
                    <span class='l-head'>Marilyn Monroe, the icon</span>
                    <span class='l-content'>Marilyn allows us to stand out in a highly fragmented industry. She is immediately recognizable, not only as the most glamorous woman of all time but also as an enduring pop culture icon. Marilyn attracts a higher income demographic and gives us pricing power. In turn, this helps us obtain higher profile locations from a real estate perspective.</span>
                </div>
                <div class="lbox white">
                    <span class='limg location'></span>
                </div>
                <div class="lbox grey clean">
                    <span class='l-head'>Unprecedented approaches to cleanliness</span>
                    <span class='l-content'>All products, equipment, materials, and protocols have been developed with a focus on cleanliness, hygiene and safety for every service category, especially including nail services.</span>
                </div>
                <div class="lbox white">
                    <span class='limg resort'></span>
                </div>
                <div class="lbox grey">
                    <span class='l-head'>All services under one roof</span>
                    <span class='l-content'> Services include (but are not limited to) massages, facials, waxing, manicures, pedicures, as well as cut, color, styling, and blow outs in the salon and make-up application in the glamour room. Marilyn Monroe Spas offers a one-stop-shop for all beauty and beauty maintenance needs. Customers can come for the day or pop in and out throughout the month for their various appointments.</span>
                </div>
                <div class="lbox white">
                    <span class='limg unisex'></span>
                </div>
                <div class="lbox grey products">
                    <span class='l-head'>Certified Organic Skin Care Products</span>
                    <span class='l-content'> Services include (but are not limited to) massages, facials, waxing, manicures, pedicures, as well as cut, color, styling, and blow outs in the salon and make-up application in the glamour room. Marilyn Monroe Spas offers a one-stop-shop for all beauty and beauty maintenance needs.</span>
                </div>
            </div>
            <div class="right">
                <div class="rbox white">
                    <span class='rimg the-icon'></span>
                </div>
                <div class="rbox grey standout">
                    <span class='r-head'>Stand out locations</span>
                    <span class='r-content'>Marilyn Monroe Spas reinvented the day spa by providing modern, beautiful and clean environments highly valued by customers.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg cleanliness'></span>
                </div>
                <div class="rbox grey resort">
                    <span class='r-head'>Resort-like spa experiences in local life style centers</span>
                    <span class='r-content'>No longer do customers have to go on vacation or to the nearest resort town to experience resort spa luxury. Since the spa locations are in customer’s neighborhoods, they can pop in whenever it suits their schedules.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg allservices'></span>
                </div>
                <div class="rbox grey">
                    <span class='r-head'>We are UNISEX</span>
                    <span class='r-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu arcu, sollicitudin non porttitor id, tincidunt vel nibh. Nullam sodales felis et nunc sagittis, et ornare nisl ornare.Nunc porttitor sodales ipsum eu feugiat. Quisque posuere libero ut ligula consectetur volutpat. Vestibulum sit amet facilisis arcu. Nam sodales quam sit amet tellus ultrices, nec consequat elit scelerisque.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg products'></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mun-footer">
        <span class="mun-flight"></span>
        <span class="mun-email">Contact us at marilynmunroespasindia@xyz.zom</span>
    </div>
</div>