<div class="mun-box" du-scroll-containe>
    <div class="mun-background" id="home">
        <div class="mun-menu">
            <span ng-class="{'active':vm.tab=='home'}" du-smooth-scroll="home" du-scrollspy ng-click="vm.gotoElement('home')">HOME</span>
            <span ng-class="{'active':vm.tab=='about'}" du-smooth-scroll="about" du-scrollspy ng-click="vm.gotoElement('about')">ABOUT</span>
            <span ng-class="{'active':vm.tab=='special'}" du-smooth-scroll="special" du-scrollspy ng-click="vm.gotoElement('special')">SPECIALITY</span>
            <span ng-class="{'active':vm.tab=='story'}" du-smooth-scroll="story" du-scrollspy ng-click="vm.gotoElement('story')">STORY</span>
            <span ng-class="{'active':vm.tab=='contact'}" du-smooth-scroll="contact" du-scrollspy ng-click="vm.gotoElement('contact')">CONTACT US</span>
        </div>
        <div class="mun-banner">NOW IN INDIA</div>
        <div class="mun-logo"><span class='mun-name'>MARILYN MONROE</span><span class='mun-tm'>TM</span></div>
        <div class='mun-spa'>Salon & Spa</div>
        <button type="button" ng-click="vm.tab=='home';vm.gotoElement('about')">EXPLORE</button>
        <span class='mun-down hvr-hang'></span>
    </div>
    <div class="mun-about" id="about">
        <div class="mun-s-head">What this is about ?</div>
        <div class="mun-s-des"><span>Here is an unique opportunity to own a Marilyn Monroe™ Spas Franchise.</span> La Vida Investment Holding Private Limited has been awarded the Exclusive Master Franchise Rights for the Republic of India. Built around the iconic Marilyn Monroe™
            brand, our spas are revolutionizing the Hair & Beauty segment, offering customers a wide range of services across Hair, Make-up, Nails and Body Spa.</div>
        <div class="mun-s-des">Today’s spa customers demand premium, all-natural products and an experience that leaves them feeling refreshed and glamorous, while spa franchisees look for scalable business models with solid brand backing. Marilyn Monroe™ Spas satisfies all
            these requirements and more, representing an outstanding business opportunity in one of the world’s largest and fastest growing spa markets. </div>
    </div>
    <div class="mun-special" id="special">
        <div class="mun-s-head">What makes us different ?</div>
        <div class="mum-s-container">
            <div class="left">
                <div class="lbox grey icon">
                    <span class='l-head'>Marilyn Monroe, the icon</span>
                    <span class='l-content'>Marilyn allows us to stand out in a highly fragmented industry. She is immediately recognizable, not only as the most glamorous woman of all time but also as an enduring pop culture icon. Marilyn attracts a higher income demographic and gives us pricing power. In turn, this helps us obtain higher profile locations from a real estate perspective.</span>
                </div>
                <div class="lbox white">
                    <span class='limg allservices'></span>
                </div>
                <div class="lbox grey products">
                    <span class='l-head'>Certified Organic Skin Care Products</span>
                    <span class='l-content'> Certified organic skin care products are used in all spa services. Vegan, five-free polishes are offered for manicures and pedicures. Marilyn Monroe Spas offers a wide array of OPI nail polishes and gels and the make-up line was specially formulated in 2013 with celebrity makeup artist, Stephen Moleski. Retail products provide franchisees with an additional source of revenue for the business.</span>
                </div>
                <div class="lbox white">
                    <span class='limg unisex'></span>
                </div>
            </div>
            <div class="right">
                <div class="rbox white">
                    <span class='rimg the-icon'></span>
                </div>
                <div class="rbox grey">
                    <span class='r-head'>All services under one roof</span>
                    <span class='r-content'> Services include (but are not limited to) massages, facials, waxing, manicures, pedicures, as well as cut, color, styling, and blow outs in the salon and make-up application in the glamour room. Marilyn Monroe Spas offers a one-stop-shop for all beauty and beauty maintenance needs. Customers can come for the day or pop in and out throughout the month for their various appointments.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg products'></span>
                </div>
                <div class="rbox grey unisex">
                    <span class='r-head'>We are UNISEX</span>
                    <span class='r-content'>Services women and men regularly use in their beauty health and wellness routines are all housed in a single, convenient location.</span>
                </div>
            </div>
            <!--<div class="left">
                <div class="lbox grey icon">
                    <span class='l-head'>Marilyn Monroe, the icon</span>
                    <span class='l-content'>Marilyn allows us to stand out in a highly fragmented industry. She is immediately recognizable, not only as the most glamorous woman of all time but also as an enduring pop culture icon. Marilyn attracts a higher income demographic and gives us pricing power. In turn, this helps us obtain higher profile locations from a real estate perspective.</span>
                </div>
                <div class="lbox white">
                    <span class='limg location'></span>
                </div>
                <div class="lbox grey clean">
                    <span class='l-head'>Unprecedented approaches to cleanliness</span>
                    <span class='l-content'>All products, equipment, materials, and protocols have been developed with a focus on cleanliness, hygiene and safety for every service category, especially including nail services.</span>
                </div>
                <div class="lbox white">
                    <span class='limg resort'></span>
                </div>
                <div class="lbox grey">
                    <span class='l-head'>All services under one roof</span>
                    <span class='l-content'> Services include (but are not limited to) massages, facials, waxing, manicures, pedicures, as well as cut, color, styling, and blow outs in the salon and make-up application in the glamour room. Marilyn Monroe Spas offers a one-stop-shop for all beauty and beauty maintenance needs. Customers can come for the day or pop in and out throughout the month for their various appointments.</span>
                </div>
                <div class="lbox white">
                    <span class='limg unisex'></span>
                </div>
                <div class="lbox grey products">
                    <span class='l-head'>Certified Organic Skin Care Products</span>
                    <span class='l-content'> Certified organic skin care products are used in all spa services. Vegan, five-free polishes are offered for manicures and pedicures. Marilyn Monroe Spas offers a wide array of OPI nail polishes and gels and the make-up line was specially formulated in 2013 with celebrity makeup artist, Stephen Moleski. Retail products provide franchisees with an additional source of revenue for the business.</span>
                </div>
            </div>
            <div class="right">
                <div class="rbox white">
                    <span class='rimg the-icon'></span>
                </div>
                <div class="rbox grey standout">
                    <span class='r-head'>Stand out locations</span>
                    <span class='r-content'>Marilyn Monroe Spas reinvented the day spa by providing modern, beautiful and clean environments highly valued by customers.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg cleanliness'></span>
                </div>
                <div class="rbox grey resort">
                    <span class='r-head'>Resort-like spa experiences in local life style centers</span>
                    <span class='r-content'>No longer do customers have to go on vacation or to the nearest resort town to experience resort spa luxury. Since the spa locations are in customer’s neighborhoods, they can pop in whenever it suits their schedules.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg allservices'></span>
                </div>
                <div class="rbox grey">
                    <span class='r-head'>We are UNISEX</span>
                    <span class='r-content'>Services women and men regularly use in their beauty health and wellness routines are all housed in a single, convenient location.</span>
                </div>
                <div class="rbox white">
                    <span class='rimg products'></span>
                </div>
            </div>-->
        </div>
    </div>
    <div class="mun-story" id="story">
        <a id="story"></a>
        <div class="mun-s-head">The Marilyn Monroe™ Spas Story</div>
        <div class="mun-s-des"><span>Marilyn Monroe was one of the most beautiful women in history. From her girl-next-door approachable beauty, to her glamorous inspirations in photos and movies, her legend endures around the world. It is that legend that inspired Marilyn Monroe™ Spas.Inside our Spas, Glamour Rooms and Nail Lounge locations, the atmosphere is decidedly vibrant, playful and social.</div>
        <div class="mun-s-des">Whether you’re in need of a quick nail touch-up, last-minute glamour blowout, a refreshing facial or blissful body treatment, Marilyn Monroe Spas will make you feel wonderful.</div>
    </div>
    <div class="mun-about last" id="contact">
        <div class="about-1">
            <div class="cover"></div>
            <div class="info hvr-bounce-to-right" ng-click="vm.comingsoon()">Franchise Support &#x21a0;</div>
        </div>
        <div class="about-2">
            <div class="cover"></div>
            <div class="info hvr-bounce-to-right" ng-click="vm.comingsoon()">Frequently Asked Questions &#x21a0;</div>
        </div>
        <div class="about-3">
            <div class="cover"></div>
            <div class="info hvr-bounce-to-right" ng-click="vm.comingsoon()">Our Team &#x21a0;</div>
        </div>
        <div class="mun-form">
            <div class="mun-cont">Contact Us</div>
            <div class="mun-fname">
                <input placeholder="First Name" type="text" value="" />
                <div class="underline"></div>
            </div>
            <div class="mun-lname">
                <input placeholder="Last Name" type="text" value="" />
                <div class="underline"></div>
            </div>
            <div class="mun-phone">
                <input placeholder="Phone Number" type="text" value="" />
                <div class="underline"></div>
            </div>
            <div class="mun-email">
                <input type="email" placeholder="Email Address" type="text" value="" />
                <div class="underline"></div>
            </div>
            <div class="mun-description">
                <input placeholder="Description" type="text" value="" />
                <div class="underline"></div>
            </div>
            <button ng-click="vm.comingsoon()"> Send Email </button>
        </div>
    </div>
    <div class="mun-special contact">
        <div class="mun-address">MARILYN MUNROE™ saloon & spas franchise</div>
        <div class="mun-add2">305, ILD Trading Center, Sohna Road, Gurgaon - 122021</div>
        <div class="mun-add3">Email:&nbsp;marilynmunroespasindia@xyz.com</div>
        <div class="mun-add4">Phone:&nbsp;+91-xxxxxxxxxx</div>
    </div>
    <div class="mun-footer">
        <div class="mun-disclaimer">
            Marilyn Monroe™, and the Marilyn Monroe signature are trademarks of The Estate of Marilyn Monroe LLC. Rights of Publicity and Persona Rights are used with permission of The Estate of Marilyn Monroe LLC. Photo by Milton H. Greene © 2016 Joshua Greene Bernard of Hollywood © 2016 Renaissance Road Inc.  Sam Shaw © 2016 Sam Shaw Inc. marilynmonroe.com
        </div>
        </div>
    </div>